.glightbox-container .gslide-image img {
	/* Fit image within viewport, prioritizing full height visibility */
	max-height: calc(100vh - 64px);
	max-width: calc(100vw - 64px);
	height: auto;
	width: auto;
	object-fit: contain;
	display: block;
}

.glightbox-container .gslide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.glightbox-container .gslide-description {
	max-width: 90%;
	color: #ccc;
	font-size: 0.875rem;
}
